
# Created by https://www.toptal.com/developers/gitignore/api/fsharp,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=fsharp,visualstudiocode

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe
.ionide/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope

# End of https://www.toptal.com/developers/gitignore/api/fsharp,visualstudiocode
/result
.fake
/dev/*
!dev/vite.config.mjs
!dev/start.sh