<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.programmerino.fableguitemplate" version="1.0.0">
  <name>FableGUITemplate</name>
  <description>FableGUITemplate</description>
  <author email="github@tripd.anonaddy.com">
        Davis Davalos-DeLosh
    </author>
  <content src="index.html"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
</widget>